<div class="form" style="display:none">
  <a href="#" class="close"></a>
  <div class="contact-info left">
    <div class="form-head">
      <svg width="280px" height="70px">
        <rect y="32" fill="#08D967" width="210" height="35" />
        <rect y="8" fill="#08D967" width="110" height="40"  />
      </svg>
      <h2>GET IN TOUCH</h2>
    </div>
      <div class="contact-info-all">
        <p class="contact-info-title">Email</p>
        <a style="color:black; text-decoration:underline" href="mailto:hassan1hafez@gmail.com" class="contact-info-desc">hassan1hafez@gmail.com</a>
        <p class="contact-info-title">Phone</p>
        <p class="contact-info-desc">+20 01094808561</p>
        <div class="social form-social">
          <a href="https://www.facebook.com/Hassan.hafezzz" target="_blank"><i class="fa fa-facebook"></a></i>
          <a href="https://twitter.com/HassanHafezz" target="_blank"><i class="fa fa-twitter"></a></i>
          <a href="https://www.behance.net/hassan_haf7a30" target="_blank"><i class="fa fa-behance"></a></i>
          <a href="https://github.com/hassanhafezzz" target="_blank"><i class="fa fa-github"></a></i>
        </div>
      </div>
    </div>
    <div class="form-container right">
      <form id="form"  method="POST" action="//formspree.io/hassan1hafez@gmail.com">

        <div class="form-input">
          <input type="text" name="name" required="">
          <div class="form-text">YOUR NAME</div>
        </div>
        <div class="form-input">
          <input type="email" name="email" required="">
          <div class="form-text">YOUR EMAIL</div>
        </div>

        <div class="form-input form-textarea">
          <textarea rows="10" cols="45" name="message" required="" autocomplete="off"></textarea>
          <div class="form-text">YOUR MESSAGE</div>
        </div>
        <button type="submit" id="send" class="btn btn-big right">Send Message</button>
        <div class="form-info left">All fields are required</div>

      </form>
    </div>
    <svg class="f-slop">
      <polygon fill="#d52561" points="0,0 0,270 1280,270"/>
    </svg>
  </div>
