---
layout: default
title: tag
---


  <div class="sloped-bg-small"></div>
  <div class="head-section">
    <div class="title">
      <a  href="{{ site.url }}/tag/{{page.tag}} " class="btn btn-big " type="button" name="button" >{{page.tag}} </a>

    </div>
  </div>
  <div class="contain contain-work">
    <div class="grid">
      {% for post in site.tags.[page.tag] %}
        <div class="blog-post">
          <img class="right" src="{{ site.url }}/images/posts/{{post.image}}" alt="personal logo">
          <div class="blog-post-info left">
            <p class="date" style="display:inline-block">{{ post.date | date: "%b %-d, %Y" }}</p> <span style="font-size:18px; padding:0px 8px;"> | </span><p class="deration" style="display:inline-block">{{post.read-duration}} Read</p>
            <a href="{{ post.url | prepend: site.baseurl }}"><h1>{{ post.title }}</h1></a>
            <p>
              {{ post.excerpt | truncatewords: 20 }}
              <a href="{{ post.url | prepend: site.baseurl }}">Read More</a>
            </p>
            <div class="tags" style="margin-top: 15px;">
              {% for tag in post.tags %}
              <a href="/tag/{{ tag }}" class="btn btn-big tag" type="button" name="button" >{{tag}}</a>
              {% endfor %}

            </div>
          </div>
        </div>
      {% endfor %}

    </div>
  </div>
